.dashboard {
    padding: 2rem;
    background: #f4f6f9;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}

.card i {
    color: #007bff; 
}


.sidebar {
    width: 220px;
    background: #19183B;
    min-height: 100vh;
    color: white;
    position: fixed;
    overflow-y: auto;           
    scroll-behavior: smooth;    
    scrollbar-width: thin;     
}


.sidebar::-webkit-scrollbar {
    width: 8px;                  
}

.sidebar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3); 
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);       
}


.sidebar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
}
